<h2>Sobre</h2>
<div class="row">
  <div class="col-md-12">
    <p>
      Apesar das mulheres serem maioria na população brasileira, a representatividade delas na câmara dos deputados é
      muito baixa. Para conhecer melhor o cenário feminino na câmara dos deputados, criamos essa plataforma para entender
      quem são elas, trazendo informação de forma interativa e educacional.
      <br />
      <br />
      A plataforma traça um perfil das deputadas federais eleitas, testa o nível de informação dos eleitores sobre o
      assunto ao mesmo tempo que informa sobre a atuação política das mulheres na câmara. Além disso, é possível apoiar
      as candidatas, votando nas propostas que estão disponíveis para consulta pública.
      <br />
      <br />
      A representatividade feminina na política é importante não só porque é preciso que os políticos representem seus eleitores e a sociedade, mas principalmente porque a falta de líderes femininas, e a imagem projetada por esse déficit, tem um impacto direto sobre uma política democrática, inclusiva e eficiente. Se uma vez eleitos políticos representassem seus eleitores de maneira equilibrada, o gênero deles não deveria ser motivo de preocupação.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Nosso time</h3>
  </div>
</div>
<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/aida.png" />
    <h4 class="nos-nome">Aída Pontes</h4>
    <i>Urbanista</i>
  </div>
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/arthur.jpeg" />
    <h4 class="nos-nome">Arthur Lustosa</h4>
    <i>Cientista de Dados</i>
  </div>
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/beatriz.jpeg" />
    <h4 class="nos-nome">Beatriz Brito</h4>
    <i>Urbanista</i>
  </div>
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/bruna.png" />
    <h4 class="nos-nome">Bruna Rychelle</h4>
    <i>Estudante de Computação</i>
  </div>
</div>
<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/flavia.jpg" />
    <h4 class="nos-nome">Flavia Marinho</h4>
    <i>Designer</i>
  </div>
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/gibran.jpg" />
    <h4 class="nos-nome">Gibran Yasser</h4>
    <i>Designer</i>
  </div>
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/iris.jpg" />
    <h4 class="nos-nome">Iris Ribeiro</h4>
    <i>Desenvolvedora de Software</i>
  </div>
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/lorena.png" />
    <h4 class="nos-nome">Lorena Pereira</h4>
    <i>Cientista de Dados</i>
  </div>
</div>
<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/victor.JPG" />
    <h4 class="nos-nome">Victor Ximenis</h4>
    <i>Engenheiro de Software</i>
  </div>
</div>
