<h2>Sobre</h2>
<div class="row">
  <div class="col-md-12">
    <p>
      Centralizamos em uma plataforma a atuação das mulheres eleitas para a câmara dos deputados e interagir com os cidadãos
      de forma a convidá-los para participar e saber mais dos processos e sobre como elas atuam na câmara.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Nosso time</h3>
  </div>
</div>
<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/aida.png" />
    <h4 class="nos-nome">Aída Pontes</h4>
    <i>Urbanista</i>
  </div>
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/arthur.jpeg" />
    <h4 class="nos-nome">Arthur Lustosa</h4>
    <i>Cientista de Dados</i>
  </div>
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/beatriz.jpeg" />
    <h4 class="nos-nome">Beatriz Brito</h4>
    <i>Urbanista</i>
  </div>
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/bruna.png" />
    <h4 class="nos-nome">Bruna Rychelle</h4>
    <i>Estudante de Computação</i>
  </div>
</div>
<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/flavia.jpg" />
    <h4 class="nos-nome">Flavia Marinho</h4>
    <i>Designer</i>
  </div>
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/gibran.jpg" />
    <h4 class="nos-nome">Gibran Yasser</h4>
    <i>Designer</i>
  </div>
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/iris.jpg" />
    <h4 class="nos-nome">Iris Ribeiro</h4>
    <i>Desenvolvedora de Software</i>
  </div>
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/lorena.png" />
    <h4 class="nos-nome">Lorena Pereira</h4>
    <i>Cientista de Dados</i>
  </div>
</div>
<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-3" style="text-align: -webkit-center;">
    <img style="max-height: 150px;" src="assets/victor.JPG" />
    <h4 class="nos-nome">Victor Ximenis</h4>
    <i>Engenheiro de Software</i>
  </div>
</div>
