<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 voce-sabia color-grey">
        <h2>Voce sabe o que <br /><span class="back-orange">as deputadas</span> estão fazendo na câmara?</h2>
      </div>
      <div class="col-md-6">
        <p class="color-grey" style="margin-top: 3em; max-width: 400px;">
          Nós fizemos um quiz para testar os seus conhecimentos sobre a atuação das mulheres no cenário político.
          Enquanto você participa te ensinamos um pouco mais
        </p>
        <button routerLink="quiz" class="btn-faca-teste">FAÇA O TESTE</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="assets/info_home-06.png" style="width: 100%;" />
      </div>
    </div>
  </div>
</div>
